/*  
vw and vh are like width and height.
but are a percentage of the view port

100vh is 100% of the height.

key points
there must be a min height on the container
100vh sets the container to 100%h of the viewport
then within the container the items will be centered.
this makes sense.

*/

.container {
  background-color: pink;
  min-height: 100vh;

/* using css grid */
  display: grid;
  /* justify-content: center;
  align-content: center; */

  /* shorthand for above 2 lines */
  place-items: center;


/* using flexbox */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.main {
  background-color: red;
  border-radius: 20px;
  width: 326px;
  height: 374px;

  display: grid;
  grid-template-rows: 23% 27% 26% 24%;

  /* text alignment for div elements */
  text-align: center;
}

.imagewrapper img {
  border-radius: 50%;
  /* margin-right: auto; */
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  /* text-align: center; */
  /* place-items: center; */

}